body{
    font-family: Montserrat;  
    }
.navbar{
    background-color: #8674cc;
    
}
.navbar-brand{
        height: 50px;
        width: 50px;
    }

img{
    margin-bottom: 2px;
}
    
.nav-item{
        font-size: 14;
        font-weight: 600;
        color: #e9e4fd !important;
        margin-right: 24px;
    }
.nav-item.active{
    color: #3c3c3c !important;
}

.btn{
    font-weight: 600;
    margin-right: 16px;
}

.jumbotron{
    height: 360px;
    background-color:white  !important;
    margin-top: -70px;  
}
.text-jumbotron{
    margin-top: 110px;
    color: #000000;
}

.text-jumbotron h1{
    font-weight: 200; 
    font-size: 20px;
    text-align: center;
    
}
.text-jumbotron p{
    font-size: 14px;
    text-align: center;
}
.informasi{
    margin-top: -35px;
}
.informasi p{
    font-size: 16px;
    color: grey;
}
.text-bold{
    font-weight: 600;
    color: grey !important;
}
.informasi img{
    height: 300px;
    width: 100%;
}
.ruangan p{
    font-size: 16px;
    color: grey !important;
}
.card{
width: 20rem;
}

.card-text{
    margin-top: 0px;
    margin: 0 !important;

}

/*custom color*/
.bg-biru{
    background-color: #75c5f0 !important;
    border: 0;
}

/* View deskstop*/
@media (min-width: 992px) {
    
    .jumbotron{
        height: 460px;    
    }
    .text-jumbotron{
        margin-top: 100px;
    }
    .text-jumbotron h1{
        font-size: 36px;
    }
    .text-jumbotron p{
        font-size: 18px;
    }
    .card{
        width: 22rem;
    }
    }